<h1>hello world from our cheezy photoshare!</h1>

<form method="post" enctype="multipart/form-data">
    <p>Image: <input type="file" name="image" /></p>
    <p><input type="submit" value="Upload" /></p>
</form>

<% images.forEach(function(img) { %>
    <img src="/images/<%- img %>" />
<% }) %>
